.git
.github
node_modules
resources/js/node_modules
.env
.env.*
*.log
.phpunit.result.cache
.phpunit.cache
storage/pail
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/storage
coverage
.opencode
.idea
.vscode
.cursor
